[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
argon2-cffi = "*"
psycopg = {extras = ["binary"], version = "*"}
pyotp = "*"
pyjwt = "*"

[dev-packages]

[requires]
python_version = "3.10"
