<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login | Tusee</title>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
  <main>
    <form method="post" action="/register">
      {{#if alreadyRegisteredError}}
      <section>
        Email is already registered
      </section>
      {{/if}}
      {{#if error}}
      <section>
        There was an error during registration
      </section>
      {{/if}}
      <section>
        <label for="name">Display name:</label>
        <input type="text" id="name" name="name" />
      </section>
      <section>
        <label for="username">Email:</label>
        <input type="text" id="username" name="username" />
      </section>
      <section>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" />
      </section>
      <section>
        <input type="submit" value="Register" />
      </section>
    </form>
  </main>
</body>
</html>