<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login | Tusee</title>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
  <main>
    <form method="post" action="/totp-setup">
      {{#if verification_failed_error}}
      <section>
        Verifying TOTP failed
      </section>
      {{/if}}
      <section>
        <img alt="QR code" src="{{ qr_image }}">
      </section>
      <section>
        <label for="qr-code">Code:</label>
        <input id="qr-code" type="text" name="code" />
        <input type="submit" value="Verify" />
      </section>
    </form>
  </main>
</body>
</html>